:global(.navbar-collapse).searchHolder {
    display: flex !important;
    flex-direction: column;
}

.searchFlex {
    flex: 1;
}

.searchInput {
    width: 100% !important;
}

.typeahead {
    position: absolute;
    width: 80%;
    max-height: 210px;
    margin-left: calc(10%);
    overflow: auto;
}
