.paddedRow {
    padding-bottom: 30px;
}

.btnLink {
    margin-left: 10px;
}

.imageGrid {
    max-height: 100px;
    margin: 10px;
}

.mediaPanel {
    max-height: 500px;
    overflow: auto;
}

.highlight {
    color: inherit;;
    text-decoration: underline;
}

.highlight:hover {
    color: inherit;
}

.smallLoader > :global(.three-bounce) > div[class^="bounce"] {
    max-width: 10px;
    max-height: 10px;
}

.lightbox {
    position: fixed;
    display: flex;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.imageLightbox {
    max-width: 80%;
    max-height: 80%;
}

.videoLightbox {
    width: 80%;
    height: 80%;
}
